$color-primary: #ff4e33;
$color-secondary: #e3ac00;
$color-third: #942e51;
$color-font-primary: #ffffff;
$color-font-secondary: #c0c3ce;
$color-background-secondary: #3b3f50;
$color-background: #21232e;
$font-primary: 'Source Sans Pro', sans-serif;
$font-secondary: 'Fresca', sans-serif;
$background-url: url("../img/m-h-night.jpg");