$color-primary: #14a0c7;
$color-secondary: #699900;
$color-third: #305ecd;
$color-font-primary: #2c2f3c;
$color-font-secondary: #c0c3ce;
$color-background: #fff;
$color-background-secondary: #21232e;
$font-primary: 'Source Sans Pro', sans-serif;
$font-secondary: 'Hind', sans-serif;
$background-url: url("../img/m-h-day.jpg");
